@font-face {
    font-family: pokemon;
    src: url(Pokemon\ Hollow.ttf);
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html,body{
    height:100%;
    width:100%;
}

main{
    height: 100%;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
i{
    position: relative;
  left:1150px;
  font-size: 20px;
    top:15px;
}
.white{
    height: 95%;
    width:95%;
    background-color:#FBE8B5;
    border-radius: 20px;
}
.yellow{
    height: 100%;
    width: 50%;
    background-color: #FBC50B;
    border-radius: 20px 0 0 20px;
}
.yellow h1{
     font-family: pokemon;
    position: relative;
    left:20px;
    font-size: 35px;
}
#img{
    height: 600px;
    width: 600px;
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
}
.info{
    position: relative;
    left:80px;
    top:100px;
    display: flex;
    flex-direction: column;
    gap:10px;
}
info p{
    font-size: 15px;
}
.info h2{
    font-size: 80px;

}
.info h5{
    letter-spacing: 4px;
    font-weight: 700;
}